@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-animate';

@variant dark (&:is(.dark *));

@theme {
  --color-background: #212121;
  --color-on-background: #ddd;
  --spacing-gutter: 4rem;
  --default-font-family:
    var(--font-spline-sans), "Inter", "Helvetica", system-ui, sans-serif;
}

@layer utilities {
  .divide-x-thick {
    @apply divide-x-4;
  }

  .divide-y-thick {
    @apply divide-y-4;
  }

  .divide-thick {
    @apply divide-x-4 divide-y-4;
  }
}
